# Python 관련
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# 가상환경
venv/
env/

# Django
db.sqlite3
*.sqlite3
*.pot
*.pyc
/staticfiles/
media/

# Java / Spring 빌드 파일
target/
build/
.gradle/
*.class
*.jar
*.war
*.ear

# Maven / Gradle 관련
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# 로그 및 임시 파일
*.log
*.tmp
